* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #fff;
  overflow: scroll;
  background-color: #eeedeb;
}
.nav {
  position: fixed;
}
.navbar {
  background-color: #1e201e;
  padding: 20px 20px;
  /* position: fixed; */
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  font-weight: 800;
}
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
  cursor: pointer;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
/* Hero section */
.hero {
  background-image: url(./images/pexels-fwstudio-33348-129731.jpg);
  height: 40rem;
  width: 100%;
  background-repeat: no-repeat;
}
.desc {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1e201e;
}
.desc > h1 {
  font-size: 3rem;
  font-weight: 800;
}
.desc > p {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: left;
  margin-top: 2rem;
}
.desc > button {
  background-color: rgb(166, 155, 155);
  border-radius: 10px;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  /* Navbar */
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #1e201e;
    border-top: 1px solid #fff;
  }

  .nav-links.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links li {
    margin: 9px 0;
  }
  .nav-links li:hover {
    text-decoration: underline;
  }

  .menu-toggle {
    display: block;
  }
  /* Hero section */
  .desc {
    margin-top: 15rem;
  }
}
